<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Started</title>
    <link rel="icon" href="web-images/favicon.png" />
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <ul>
          <li><a href="#">Face Tracker</a></li>
        </ul>
      </div>
    </header>

    <div class="content">
      <div class="text" style="width: 100%; text-align: center">
        <p style="text-align: left; font-size: 1.5rem">
          Guide :
          <br />
          1. To mark your attendance click on Mark Attendance
          <br />
          2. To check and verify your attendance click on View Attendance
          <br/>
          3. To go back to the home page click on Home
        </p>
        <a href="markattendance" class="btn btn-reform" style="left: 0"
          >Mark Attendance</a
        >
        <a href="/" class="btn btn-reform">Home</a>
        <a
          href="https://docs.google.com/spreadsheets/d/1HIf-0DpxUFquQQz6i0PBbAIVK3RJX58ceWcuyQQyrKo/edit?usp=sharing"
          target = "_blank"
          class="btn btn-reform"
          >View Attendance</a
        >
      </div>
    </div>

    <div class="wave">
      <img src="static/web-images/wave.svg" alt="" />
    </div>
  </body>
</html>
