<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Tracker</title>
    <link rel="icon" href="web-images/favicon.png" />
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="logo">
          <ul>
            <li><a href="#">Face Tracker</a></li>
          </ul>
        </div>
        <nav>
          <ul>
            <li>
              <a href="#">Integration</a>
              <ul>
                <li>
                  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML"
                    >html</a
                  >
                </li>
                <li>
                  <a href="https://developer.mozilla.org/en-US/docs/Web/CSS"
                    >css</a
                  >
                </li>
                <li><a href="https://www.python.org/">python</a></li>
                <li>
                  <a href="https://pypi.org/project/opencv-python/">opencv</a>
                </li>
                <li>
                  <a href="https://flask.palletsprojects.com/en/2.1.x/"
                    >flask</a
                  >
                </li>
                <li><a href="https://numpy.org/">numpy</a></li>
                <li>
                  <a href="https://docs.gspread.org/en/latest/">gspread</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">API</a>
              <ul>
                <li><a href="#">Google Drive API</a></li>
                <li><a href="#">Google Sheets API</a></li>
              </ul>
            </li>
            <li>
              <a href="#">IDEs</a>
              <ul>
                <li><a href="#">vscode</a></li>
                <li><a href="#">Pycharm</a></li>
              </ul>
            </li>
            <li>
              <a href="https://github.com/srushti1hub/face-tracker.git"
                >Github</a
              >
            </li>
          </ul>
        </nav>
      </header>

      <div class="content">
        <div class="text">
          <p>
            A Comprehensive Touch-free Attendance solution to Simplify,
            Standardise and Automate your Attendance Management.
          </p>
          <a href="getstarted" class="btn">Get Started</a>
        </div>
        <div class="img">
          <img
            class="face-id"
            src="static/web-images/face-id.png"
            alt="Face Recoginition using Python"
          />
        </div>
      </div>

      <div class="wave">
        <img src="static/web-images/wave.svg" alt="" />
      </div>
    </div>
  </body>
</html>
